{% extends 'partials/navigation.html' %}

{% block below_navigation %}
    <div class="w3-margin-top w3-hide-small"></div>
    <div class="w3-padding-small">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="card">
                    <div class="card-content">

                        <h6 style="text-align: center">Candidates</h6>
                        <table class="table">
                            <thead>
                            <tr>

                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for foo in candidates %}

                                <tr>

                                    <td>{{ foo.first_name }}</td>
                                    <td>{{ foo.last_name }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        {% if current_transaction.stage == 'payment-verified' %}
                            <form action="." method="post">
                                {% csrf_token %}
                                <button style="margin-left: 35%" class="btn btn-success" type="submit">Proceed</button>
                            </form>
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}