{% extends 'partials/navigation.html' %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block below_navigation %}
    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
