{% extends 'partials/navigation.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block below_navigation %}
    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="w3-xlarge">{% blocktrans %}We have sent you an e-mail. Please
                    <a href="mailto:support@legalforms.ng" class="w3-border-bottom">contact us</a> if you do not receive
                    it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
