{% extends "partials/navigation.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block below_navigation %}
    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Change Password" %}</h1>
                <p class="w3-xlarge">{% trans 'Your password is now changed.' %}</p>
                <br>
                <a href="{% url 'account_login' %}" class="mdc-button mdc-button--raised">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
