{% extends "partials/navigation.html" %}
{% load bulma_tags socialaccount %}

{% load i18n %}
{% block title %}{% trans "Signup" %}{% endblock %}

{% block below_navigation %}

    {% with signup=True %}
        <div class="container w3-container w3-padding-64 w3-padding-large">
            <div class="columns is-centered">
                <div class="column is-half is-narrow">
                    <h1 class="w3-xxlarge">{% trans "Sign Up" %}</h1>
                    <p class="w3-text-black">{% blocktrans %}Already have an account? Then please
                        <a href="{{ login_url }}" class="w3-border-bottom w3-border-blue">login</a>
                        .{% endblocktrans %}</p>
                    {% providers_media_js %}


                    <form class="signup w3-margin-top" id="signup-form" method="post"
                          action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'first_name' or field.name == 'last_name' %}
                                {% if forloop.counter == 1 %}
                                    <div class="field is-horizontal">
                                        <div class="field-body">
                                            <div class="field">
                                                <label for="" class="label">First name</label>
                                                <p class="control is-expanded">
                                                    <input class="input" type="text" placeholder="First name"
                                                           name="first_name" required>
                                                </p>
                                            </div>
                                            <div class="field">
                                                <label for="" class="label">Last name</label>
                                                <p class="control is-expanded">
                                                    <input class="input" type="text" placeholder="Last name"
                                                           name="last_name" required>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ field|bulma }}
                            {% endif %}


                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit"
                                class="mdc-button mdc-button--unelevated w3-margin-top">{% trans "Sign up" %}</button>
                    </form>

                </div>
            </div>
        </div>

    {% endwith %}
{% endblock %}
