{% extends "partials/navigation.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block below_navigation %}
    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Sign Up Closed" %}</h1>

                <p class="w3-xlarge">{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
