{% extends "partials/navigation.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block below_navigation %}

    <div class="container w3-container w3-padding-64 w3-padding-large">
        <div class="columns is-centered">
            <div class="column is-half is-narrow">
                <h1 class="w3-xxlarge">{% trans "Verify Your E-mail Address" %}</h1>

                <p class="w3-xlarge">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link
                    provided to finalize
                    the signup
                    process. Please <a href="mailto:support@legalforms.ng" class="w3-border-bottom">contact us</a> if
                    you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
