{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav class="navbar">
        <div class="navbar-brand w3-padding-small">
            <a class="navbar-item w3-hover-none"
               href="/" style="margin-top: -2px;">
                <span>CODELN</span>
            </a>


            <button class="button navbar-burger is-white" data-target="navMenu" id="navBurger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu w3-padding-large" id="navMenu">
            <div class="navbar-start w3-center">

            </div>
            <div class="navbar-end w3-center">
                {% if user.is_authenticated %}


                    <a href="#"
                       class="navbar-item is-uppercase w3-hover-none w3-opacity">
                        {{ request.user.username }}
                    </a>

                    <a href="{% url 'account_logout' %}"
                       class="navbar-item is-uppercase w3-hover-none w3-opacity">
                        Logout
                    </a>
                {% else %}
                    <a href="{% url 'account_login' %}"
                       class="navbar-item is-uppercase w3-hover-none">
                        Login
                    </a>
                    <a href="{% url 'account_signup' %}"
                       class="navbar-item is-uppercase w3-hover-none">
                        Signup
                    </a>

                {% endif %}
            </div>

        </div>
    </nav>

    {% if user.is_authenticated %}
        <div class="tabs w3-white is-centered" style="margin-bottom: 0">
            <ul class="w3-container">

                {% if request.user.profile.user_type == 'developer' %}
                    <li>
                        <a class="menu-label w3-large" href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="menu-label w3-large" href="#">
                            Call to Apply
                        </a>
                    </li>
                    <li>
                        <a class="menu-label w3-large" href="{% url 'frontend:inprogress' %}">
                            Ongoing Projects
                        </a>
                    </li>
                    <li>
                        <a class="menu-label w3-large" href="#">
                            My Profile
                        </a>
                    </li>

                {% elif request.user.profile.user_type == 'recruiter' %}
                    <li>
                        <a class="menu-label w3-large" href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="menu-label w3-large" href="{% url 'frontend:inprogress' %}">
                            Ongoing Test
                        </a>
                    </li>
                    <li>
                        <a class="menu-label w3-large" href="#">
                            Source Candidates
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>

    {% endif %}


    <div class="w3-animate-opacity">
        {% block below_navigation %}
        {% endblock below_navigation %}
    </div>

{% endblock content %}