{% extends 'partials/navigation.html' %}
{% block title %}
    Hire Skilled Software Developers
{% endblock %}
{% load static %}
{% block below_navigation %}
    <div class="hero is-medium"
         style="background-image:url('{% static 'frontend/images/bg.png' %}') ; background-size: cover">

        <div class="hero-body w3-center">
            <h1 class="w3-xxxlarge">Hire Skilled Software Developers &mdash; Faster</h1>
            <p class="w3-xlarge">Codeln offers Monitored Workspaces to verify coding skills using real world
                projects</p>
            <a href="" class="mdc-button mdc-button--raised w3-margin-top">Get Started</a>
        </div>
    </div>
    <section class="hero">
        <div class="hero-body">
            <h1 class="menu-label w3-xlarge w3-center">Products</h1>
            <div class="w3-content" style="max-width: 700px">
                <div class="columns">
                    <div class="is-6">
                        <div class="card w3-margin trans-400 w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar"
                             style="cursor: pointer">
                            <div class="card-image">
                                <figure class="image is-4by3 w3-margin">
                                    <img src="{% static 'frontend/images/ill/report.svg' %}"
                                         alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="w3-xlarge w3-center">Screening</h1>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    Phasellus nec iaculis mauris.
                                    Phasellus nec iaculis mauris.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="is-6">
                        <div class="card w3-margin trans-400 w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar"
                             style="cursor: pointer">
                            <div class="card-image">
                                <figure class="image is-4by3 w3-margin">
                                    <img src="{% static 'frontend/images/ill/set.svg' %}"
                                         alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="w3-xlarge w3-center">Sourcing</h1>
                                    Recruiting developers just got easy,
                                    get quick access to qualified and
                                    certified Programmers.
                                    Learn More
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="w3-padding-64 w3-center w3-white">
        <h1 class="w3-xlarge menu-label">Curious about our screening Process?</h1>
        <a href="" class="mdc-button mdc-button--raised">See How It works</a>
    </section>
    <!--<editor-fold desc="Why Codeln">-->
    <section class="w3-padding-64 w3-container">
        <h1 class="menu-label w3-xlarge w3-center">Why Codeln</h1>
        <div class="columns w3-margin">

            <div class="column is-6">
                <figure class="image">
                    <img src="{% static 'frontend/images/ill/stats.svg' %}" alt="">
                </figure>
            </div>
            <div class="column is-6">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="card-content">
                            <i class="fas fa-piggy-bank fa-3x"></i>
                            <h1 class="w3-large menu-label">Reduce Recruitment Cost</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nemo quae! Ab
                                quasi
                            </p>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card-content">
                            <i class="fas fa-clock fa-3x"></i>
                            <h1 class="w3-large menu-label">Reduce Recruitment Time</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nemo quae! Ab
                                quasi
                            </p>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card-content">
                            <i class="fas fa-check-double fa-3x"></i>
                            <h1 class="w3-large menu-label">Validate Candidates' Skills</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nemo quae! Ab
                                quasi
                            </p>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card-content">
                            <i class="fas fa-smile-wink fa-3x"></i>
                            <h1 class="w3-large menu-label">Improve the quality of hire</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nemo quae! Ab
                                quasi
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--</editor-fold>-->
    <!--<editor-fold desc="We Support">-->
    <section class="hero is-white">
        <div class="hero-body w3-padding-64">
            <h1 class="w3-center menu-label w3-xlarge is-marginless">We Support</h1>
            <div class="w3-container w3-center">
                <div class="columns is-multiline">
                    {% for foo in '123' %}
                        <div class="column is-2">
                            <i class="fab fa-5x fa-python"></i>
                        </div>
                        <div class="column is-2">
                            <i class="fab fa-5x fa-js"></i>
                        </div>
                        <div class="column is-2">
                            <i class="fab fa-5x fa-java"></i>
                        </div>
                        <div class="column is-2">
                            <i class="fab fa-5x fa-html5"></i>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
    <!--</editor-fold>-->
    <!--<editor-fold desc="As seen on">-->
    <section class="w3-padding-32">
        <div class="container">
            <div class="w3-center w3-padding-16">
                <h1 class="menu-label w3-xlarge">Trusted By</h1>
            </div>
            <div class="columns w3-margin is-multiline is-mobile">
                <div class="w3-padding-small column is-6-mobile" title="#">
                    <figure class="image w3-margin is-128x128">
                        <a target="_blank"
                           href="#"><img
                                src="{% static 'frontend/images/partners/meltwater.png' %}" alt=""></a>
                    </figure>
                </div>
                <div class="w3-padding-small column is-6-mobile" title="#">
                    <figure class="image w3-margin is-128x128">
                        <a target="_blank"
                           href="#"><img
                                src="{% static 'frontend/images/partners/7academy.JPG' %}" alt=""></a>
                    </figure>
                </div>
                <div class="w3-padding-small column is-6-mobile" title="#">
                    <figure class="image w3-margin is-128x128">
                        <a target="_blank"
                           href="#"><img
                                src="{% static 'frontend/images/partners/div.jpg' %}" alt=""></a>
                    </figure>
                </div>
                <div class="w3-padding-small column is-6-mobile" title="#">
                    <figure class="image w3-margin is-128x128">
                        <a target="_blank"
                           href="#"><img
                                src="{% static 'frontend/images/partners/mest.png' %}" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--</editor-fold>-->
    {% include 'partials/footer.html' %}

{% endblock %}
