{% extends 'partials/navigation.html' %}
{% block title %}
    project categories
{% endblock %}
{% block below_navigation %}
    <div class="hero is-small is-black">
        <div class="hero-body">
            <h1 class="w3-center menu-label w3-xlarge">
                Which skill are you looking to test for?
            </h1>
        </div>
    </div>
    <section style="max-width: 1000px; margin: auto">
        <h1 class="w3-xlarge menu-label w3-margin-top">
            Projects
        </h1>
        <div class="columns is-multiline">
            {% for projectype in projecttypes %}
                <div class="column is-4">
                    <a href="{% url 'projects:projecttypes' projectype.id %}">
                        <div class="card">
                            <div class="card-content">
                                <h1 class="w3-xlarge">{{ projectype.name }}</h1>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi delectus,
                                dolore
                                esse est exercitationem explicabo illum ipsa itaque laudantium maiores molestiae officia
                                provident quia, quis sint tempora voluptas!
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section style="max-width: 1000px; margin: auto">
        <h1 class="w3-xlarge menu-label w3-margin-top">
            Developer Types
        </h1>
        <div class="columns is-multiline">
            {% for devtype in devtypes %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="w3-xlarge">{{ devtype.name }}</h1>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi delectus,
                            dolore
                            esse est exercitationem explicabo illum ipsa itaque laudantium maiores molestiae officia
                            provident quia, quis sint tempora voluptas!
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% for devtype in devtypes %}
        {% if devtype.name == 'frontend' %}
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">


                    <a href="{% url 'projects:devtypes' devtype.id %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard "
                                 src="../../static/frontend/images/web-design.svg"
                                 style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                        </div>

                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title text-center" style="text-align: -webkit-center;">Frontend
                                    development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        {% elif devtype.name == 'backend' %}
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a href="{% url 'projects:devtypes' devtype.id %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/web.svg"
                                 style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title text-center" style="text-align: -webkit-center;">Backend
                                    development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        {% elif devtype.name == 'fullstack' %}
            <div class="col-lg-3" style="width: 100%;">
                <div class="card recruithomecard" style="margin: auto">
                    <a href="{% url 'projects:devtypes' devtype.id %}">
                        <div style="text-align: -webkit-center;">
                            <img class="card-img-top categoriescard" src="../../static/frontend/images/network.svg"
                                 style="margin-left: 25%;margin-right: 25%" alt="Card image cap">
                        </div>
                        <div class="card" style="border: 0 ">


                            <div class="card-body">

                                <h6 class="card-title text-center" style="text-align: -webkit-center;">Fullstack
                                    development</h6>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}



{% endblock %}