{% extends 'partials/navigation.html' %}
{% block title %}
    Project Categories
{% endblock %}
{% block below_navigation %}
    <div class="hero is-small is-info">
        <div class="hero-body">
            <h1 class="w3-center menu-label w3-text-white w3-xlarge">
                Which skill are you looking to test for?
            </h1>
        </div>
    </div>
    <section style="max-width: 1000px; margin: auto">
        <h1 class="w3-xlarge menu-label w3-margin-top">
            Projects
        </h1>
        <div class="columns is-multiline">
            {% for project_type in project_types %}
                <div class="column is-4">
                    <a href="{% url 'projects:project-type' project_type.slug %}">
                        <div class="card w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar trans-400">
                            <div class="card-content" style="height: 200px;">
                                <h1 class="w3-xlarge">{{ project_type.name }}</h1>
                                <p>
                                    {{ project_type.description|truncatechars:160 }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section style="max-width: 1000px; margin: auto">
        <h1 class="w3-xlarge menu-label w3-margin-top">
            Developer Types
        </h1>
        <div class="columns is-multiline">
            {% for dev_type in dev_types %}
                <div class="column is-4">
                    <a href="{% url 'projects:dev-type' dev_type.slug %}">
                        <div class="card w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar trans-400">
                            <div class="card-content" style="height: 200px;">
                                <h1 class="w3-xlarge">{{ dev_type.name }}</h1>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi delectus,
                                dolore
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>



{% endblock %}