{% extends 'partials/navigation.html' %}
{% load static bulma_tags %}
{% block title %}
    project details
{% endblock %}
{% block below_navigation %}
    <div class="w3-margin-top w3-hide-small"></div>
    <div class="w3-padding-small">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="card">
                    <div class="card-content">
                        <label for="" class="menu-label">Project Name</label>
                        <h1 class="w3-xlarge">{{ project.name }}</h1>
                        <label for="" class="menu-label">Project Description</label>
                        <p>
                            {{ project.description }}
                        </p>
                        <label for="" class="menu-label">Concepted Tested</label>
                        <p>
                            {{ project.description }}
                        </p>
                        <br>
                        <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Language: {{ project.framework.language }}
                        </span>
                        &nbsp;
                        <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Framework: {{ project.framework }}
                        </span>
                        &nbsp;
                        <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Level: {{ project.level|capfirst }}
                        </span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="w3-large menu-label w3-text-black">Requirements</h1>
                        <ol class="w3-padding-large w3-large">
                            <li class="w3-margin-bottom">
                                {{ project.requirement1 }}
                            </li>
                        </ol>
                        <form action="{% url 'transactions:transaction' project.id %}" method="post">
                            {% csrf_token %}
                            {{ stack_form|bulma }}

                            <a href="{% url 'projects:categories' %}" class="mdc-button">Go back</a>
                            <button type="submit" class="mdc-button mdc-button--raised">Choose
                                project
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
