{% extends 'partials/navigation.html' %}
{% load bootstrap4 %}

{% load static %}
{% block below_navigation %}
    <section class="hero">
        <div class="hero-body">
            <h1 class="menu-label w3-xlarge w3-center">Hi, {{ request.user.username }}
                <br>
                Choose one of the paths below to start
            </h1>
            <div class="w3-content" style="max-width: 700px">
                <div class="columns">
                    <div class="is-6">
                        <a href="{% url 'frontend:inprogress' %}">
                            <div class="card w3-margin trans-400 w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar"
                                 style="cursor: pointer">
                                <div class="card-image">
                                    <figure class="image is-4by3 w3-margin">
                                        <img src="{% static 'frontend/images/coding.svg' %}"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h1 class="w3-xlarge w3-center">Ongoing Projects</h1>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Phasellus nec iaculis mauris.
                                        Phasellus nec iaculis mauris.
                                        Phasellus nec iaculis mauris.
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="is-6">
                        <a href="{% url 'frontend:invites' %}">
                            <div class="card w3-margin trans-400 w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar"
                                 style="cursor: pointer">
                                <div class="card-image">
                                    <figure class="image is-4by3 w3-margin">
                                        <img src="{% static 'frontend/images/invitation.svg' %}"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h1 class="w3-xlarge w3-center">Project Invites</h1>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Phasellus nec iaculis mauris.
                                        Phasellus nec iaculis mauris.
                                        Phasellus nec iaculis mauris.
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>



{% endblock %}