{% extends 'partials/navigation.html' %}
{% block title %}
    Project in progress
{% endblock %}
{% load static %}
{% block below_navigation %}
    <div class="hero is-small is-black">
        <div class="hero-body">
            <h1 class="w3-center menu-label w3-xlarge">
                {% if request.user.profile.user_type == 'developer' %}
                    Ongoing Projects
                {% elif request.user.profile.user_type == 'recruiter' %}
                    Ongoing Tests
                {% endif %}
            </h1>
        </div>
    </div>

    <section class="w3-margin-top" style="max-width: 1000px; margin: auto">
        <div class="columns is-multiline">
            {% for ongoing_project in ongoing_projects %}
                <div class="column is-12">
                    <a href="#">
                        <div class="card trans-400 w3-hover-border-deep-purple w3-bottombar w3-border-white w3-topbar w3-rightbar w3-leftbar">
                            <div class="card-content">
                                <label for="" class="menu-label">Candidate</label>
                                <h1 class="w3-large">{{ ongoing_project.candidate.username }}</h1>
                                <label for="" class="menu-label">Project Name</label>
                                <h1 class="w3-xlarge">{{ ongoing_project.project.name }}</h1>
                                <label for="" class="menu-label">Project Description</label>
                                <p>
                                    {{ ongoing_project.project.description }}
                                </p>
                                <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Language: {{ ongoing_project.project.framework.language }}
                        </span>
                                &nbsp;
                                <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Framework: {{ ongoing_project.project.framework }}
                        </span>
                                &nbsp;
                                <span class="w3-padding-small w3-round w3-light-grey">
                           &centerdot; Level: {{ ongoing_project.project.level|capfirst }}
                        </span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}