{% extends 'partials/navigation.html' %}
{% load bulma_tags %}
{% block title %}
    Review  {{ object }}
{% endblock %}
{% block below_navigation %}
    {% if request.user.is_superuser %}
        <div class="w3-container w3-padding-large container">
            <form action="" class="form w3-twothird" method="post">{% csrf_token %}
                <h1 class="title">Reviewing {{ object.user.get_full_name }}</h1>
                {{ form|bulma }}
                <input type="submit" class="mdc-button mdc-button--raised"
                       value="Submit"/>
            </form>
            <div class="w3-third"><br></div>
        </div>
    {% endif %}

{% endblock %}