{% extends 'partials/navigation.html' %}
{% load bulma_tags %}
{% load static %}
{% block below_navigation %}
    <div class="w3-margin-top w3-hide-small"></div>
    <div class="w3-padding-small">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="w3-center menu-label w3-xlarge">Please fill your recruiter details</h1>
                <form action="." method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ recruiter_filling_details_form|bulma }}

                    <button class="mdc-button mdc-button--raised" type="submit">Next</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
